   <!-- page content -->
   <div class="right_col" role="main" style="min-height: 985px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Aktiviteler</h3>
          </div>
  
          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group" style="margin-right: -170px;">
              <div class="input-group">
                <button class="btn btn-round btn-default" type="button" (click)="newActivity()"><i class="fa fa-plus"></i> Yeni</button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="clearfix"></div>
  
        <div class="">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">              
              <div class="x_content">
              </div>
            </div>
          </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- /page content -->